@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Assistant:600');

/* Nav and menu */
/* End Nav and menu*/

/* General */

p{
  color: rgba(0,0,0,1);
  font-family: 'Assistant', sans-serif;;
  font-size: 20px;
}
/* End General */

.modal p{
  color: rgba(0,0,0,1);
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
}


.modal-body{
  height: 100%;
  width: auto;
}

/* Intro page*/
#intro p, h1, h3{
  color: rgba(0,0,0,1);
  font-family: 'Permanent Marker', cursive;
}

h4{
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Assistant', sans-serif;
  font-weight: 600;
}

#intro h1{
  letter-spacing: 3px;
  font-size: 60;
  line-height: 30px;
  text-align: right;
}

#intro h1:hover{
  color:rgba(169,197,196,0.6);
  cursor: pointer;
  text-decoration: none;
}

a{
  color:rgba(0,0,0,1);
}

a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:active{
  text-decoration: none;
}


#intro h3{
  letter-spacing: 1px;
  font-size: 50px;
  line-height: 70px;
  text-align: right;
}

#intro{
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  padding: 4%;
}

#intro2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* intro slideshow */
.slideshow-container{
  max-width: auto;
}

.slideshow{
  display: none;
}

.parent-prev-next{
  position: relative;
}

.prev-next{
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: auto;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  padding: 10px;
}

.prev:hover, .next:hover{
  color:rgba(169,197,196,0.6);
  cursor: pointer;
}
/* End intro slideshow */

/* intro media */
#qh-logo{
  height: 100px;
  width: auto; 
  opacity: 0.4;

}
/* End of intro media*/


.page{
  color:rgba(169,197,196,0.6);
  position: absolute;
  top: 0%;
  left: 0%;
  width: auto;
  font-weight: bold;
  transition: 0.6s ease;
  padding: 10px;
  color: rgba(0,0,0,1);
  font-family: 'Assistant', sans-serif;;
  font-size: 15px;
}

.fading{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fa-parent{
  position: absolute;
  bottom: 0%;
  left: 0%;
  padding: 10px;
}

.fa{
  cursor: pointer;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.fa:hover {
  opacity: 0.5;
}

/* modal general*/

/* modals */
.modal{
  display: none; /*hidden by default*/
  position: fixed; /*stay in place*/
  z-index: 1; /*sit on top*/
  left: 0;
  top: 0;
  width: 100%; /*full width*/
  height: auto; 
  overflow: hidden;
  background-color: rgb(0, 0 ,0); /*fallback colour*/
  background-color: rgba(0,0,0,0.07); /*black with opacity*/
}

/* modal content box */
.modal-content{
  background-color: rgba(255,255,255,0.98);
  padding: 10px 30px 10px 30px;
  margin: 10px;
  border: 1px solid #888;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%; /* could be more or less, depending on screen size */
  height: 95%;
  overflow-y: auto;
}

.modal-txt{
  color:rgba(0,0,0,1);
  font-family: 'Assistant', sans-serif;;
  font-size: 15px;
}

.modal-body{
  width: inherit;
  height: inherit;
}

/* the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: nonw;
  cursor: pointer;
}

/* end of modal general */


/* modal img */
.modal-img{
  width: 100%;
  height: auto;
  background: transparent;
  vertical-align: middle;
  padding: 20px;
}

.modal-img-ver{
  width: 50%;
  height: auto;
  background: transparent;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
}

#v1{
  padding-left: 20px;
  padding-right: 2px;
  float: left;
}

#v2{
  padding-right: 20px;
  padding-left: 2px;
  float: right;
}

#modal-excelerate{
  width: 100%;
  height: auto;
}

.tech-icons{
  width: 35px;
  height: auto;
  padding: 3px;
}

section{
  padding: 20px;
}

hr{
  clear: both;
  width:90%;
  background-color: rgba(0,0,0,0.1);
  height:1px;
  margin-top:20px;
  margin-bottom:20px;
}